*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  background-color: antiquewhite;
}

/* 配色方案 */
:root {
  --c1: #279316;
  --c11: #5cb343;
  --c111: #91d271;
  --c1111: #c6f29e;
}
